body {
    background-color:wheat;
    color: black;
    max-width:1200px;
    margin: 0 auto;
    padding: 12px;
}

html{
    scroll-behavior: smooth;
}
header{
display:all flex;
flex-direction: row;
justify-content:space-between;
align-items: center;
}
#title{
    flex-direction: column;
    line-height: 10px;
}

a{
color: rgb(0, 0, 0);
}
a:hover{
    color: wheat;
    transition: 0.2s all;
}

li{
    display: inline-block;
    margin: 20px;
}

h1{
    font-weight:200;
}
main{
    display: flex;
    flex-direction:column;
    margin-top: 50px;
}
div{
    font-size:20px;
    line-height:20px;
}

h2{
    font-size: 37px;
    line-height: 20px;
}

p{
    font-size: 18px;
    max-width: 550px;
}
header {
    max-width: 1300px; 
    margin: 0 auto ; 
    padding: 20px;
    text-align: center;
    color:white; 

    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    }


abbr a {
    color: black;
}


.Home title{
    color: black;
}
body{
    display:all flex;
    background-size:cover;
    background-repeat:no-repeat;
    background-image: url("prova/img/PESSOINHAMALA.jpeg")
}